POSTGRES_DB=dip_grp5
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
DATABASE_URL=postgresql+psycopg://postgres:change_me@127.0.0.1:5433/dip_grp5
SEED_ADMIN_DISPLAY_NAME=Administrator
SEED_ADMIN_EMAIL_ADDRESS=admin@local.invalid
SEED_ADMIN_PASSWORD=admin
SEED_TEST_DISPLAY_NAME=Test User
SEED_TEST_EMAIL_ADDRESS=test-user@local.invalid
SEED_TEST_PASSWORD=test
DEV_AUTH_ENABLED=true
